.minradius {
  border-radius: 1px;
}

.alert {
  position: relative;
  border-radius: 1px;
  padding: 0 1em 0 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.alert.alert-info {
  background: #3E9ACC;
  color: #ffffff;
}

.alert.alert-success {
  background: #1ab394;
}

.alert.alert-warning {
  background: #fff8a9;
  color: #2f4050;
}

.alert.alert-danger {
  background: #ec4758;
  color: #ffffff;
}

.alert-icon {
  border-radius: 1px;
  padding: 18px;
  margin-right: 18px;
  background: #2f4050;
  font-size: 24px;
  text-align: center;
  width: 60px;
  height: 100%;
  display: table-cell;
}

.alert .alert-text {
  line-height: 1.5;
  display: table-cell;
  vertical-align: middle;
  padding: 10px 5px 10px 20px;
}

.alert span.alert-white {
  color: #ffffff !important;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: inherit;
}

@media screen and (max-width: 720px) {
  .alert {
    font-size: 14px;
  }

  .alert .alert-icon {
    font-size: 18px;
  }

  .alert .alert-text {
    line-height: 1.5;
    padding-top: 10px;
  }
}

.col-md-122 {
  width: 40em;
  position: inherit;
  float: initial;
  margin-left: 3em;
  margin-bottom: -3em;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em .25em;
  color: #000;
  background: transparent;
  align-items: center;
  position: absolute;
  margin-top: 2px;
  margin-left: 8px;
}