@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
    background-image: url("fondoinicio.png");
    background-size: cover;
	background-position: center;
}
ul{
	list-style: none;
	margin-top: 1.6vh;
	width: 292px;
}
li{
	padding: 10px;
  margin-left: 25px;
	text-align: center;
}
hr{
	margin-left: -13%;
	margin-right: -13%;
}