* {
    box-sizing: border-box;
}

body {
    background: white;
}

.project {
    width: 400px;
    margin-bottom: 1em;
}

.project>div {
    margin: 0 -5px 0 0;
    float: right;
}

.clausurada{
    width: 2em;
    height: 2em;
    border: .4em solid #E4E4E7;
    background: #E4E4E7;
    border-radius: 100%;
    display: inline-flex;
    position: inherit;
    margin-right: 10px;
    margin-bottom: -8px;
}
}

.pendiente {
    width: calc(50% - 3em);
    height: .6em;
    padding: .2em 0;
    background: #E4E4E7;
    position: relative;
}

.progress>div {
    height: .2em;
    left: -.4em;
    right: -.4em;
    position: absolute;
}

.pending {
    background: #F8AC59;
}

.reservada {
    background: #1C84C6;
}

.libre {
    background: #1AB394;
}

.ocupada {
    background: #ED5565;
}