body {
    font-family: Georgia;
    background: url(imagenes/contacto.png);
    height: 100%;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
  }
h1{
  font-size: 55px;
  margin-left: 740px;
  margin-top: 200px;
}
p{
  padding: 10px auto;
  margin-left: 790px;
  width: 350px ;
  max-width: 350px ;
}
.logos{
    background-color: rgba(0, 0, 0, 0.671);
  padding: 10px auto;
  margin-left: 770px;
  margin-right: 770px;
  margin-top: 130px;
  width:350px ;
  max-width: 350px ;
  overflow: hidden;
}
.logo{
    margin:  22px  ;
    padding: 2px auto;
    float: left;
}
.button-1 {
  appearance: none;
  background-color: #1d689e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  padding: 10px 16px;
  margin-top: 10px;
  margin-left: 900px;
  
}

.button-1:hover {
  background-color: #11507ebd;
}

.button-1:focus {
  box-shadow: 1d689e;
  outline: none;
}

.button-1:disabled {
  background-color: #1d689e;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-1:active {
  background-color: #1d689edc;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

 






