body {
    font-family: Georgia;
    background: url(imagenes/contacto.png);
    height: 100%;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
  }
h1{
  margin-left: 38px;
  font-size: 50px;
  margin-bottom: 30px;
}
p{
    width: 650px;
    margin-left: 30px;
    margin-top: 30px; 
}
.logos{
    background-color: rgba(0, 0, 0, 0.671);
  padding: 10px auto;
  margin-left: 780px;
  margin-right: 770px;
  margin-top: 200px;
  width:350px ;
  max-width: 350px ;
  overflow: hidden;
}
.logo{
    margin:  22px  ;
    padding: 2px auto;
    float: left;
}