body {
  font-family: Georgia;
  background: url(imagenes/fondo-index.jpg);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background: #fff;
  min-height: 100%;
  width: 65em;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 10px 20px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.3);

}

.top-bar {
  margin-top: 80px;
  color: white;

}

.slider {
  position: sticky;
  overflow: hidden;
  height: 40em;
  width: 65em;
  margin-top: 20px;
  margin-bottom: 90px;

}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {

  position: absolute !important;
  top: 40% !important;
  right: 15px !important;
}

.buttons button#prev {
  position: absolute !important;
  top: 40% !important;
  left: 15px !important;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

:after {
  content: "";
  display: table;
  clear: both;
}


h1 {
  margin-left: 10px;
  font-size: 50px;
  margin-bottom: 30px;
}

h2.name {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 20px;
  font-size: 30px;
}

h2.price {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 7px;
  right: 20px;
  font-size: 24px;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  width: 240px;
  height: 210px;
  float: left;
}

header nav {
  float: initial;
  display: flex;
}

header nav h2 {
  text-indent: -10000px;
  height: 0;
  margin: 0;
}

header nav li {
  float: left;
  list-style-type: none;
  margin: 10px 20px;
}

header nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 50px;
}

#main-banner,
#main-banner img {
  max-width: 1000px;
  width: 95%;
  padding: 1%;
  display: block;
  margin: auto;

}

#main-banner img {
  border: 6px solid #f34949;

}

#home-menu h2 {
  background-image: url(iconos/menu_flag.png);
  background-repeat: no-repeat;
  width: 156px;
  height: 74px;
  text-indent: -10000px;
  margin: 0 auto;
  position: relative;
  top: -4px;
}

#home-menu ul {
  padding: 0;
  list-style-type: none;
}

#home-menu ul:after {
  content: "";
  clear: both;
  display: block;
}

#home-menu li {
  float: left;
  width: 42%;
  padding: 0;
  margin: 20px 0 20px 8%;
}

#home-menu li:nth-child(odd) {
  margin: 20px 8% 20px 0;
}

.description {
  clear: both;
  display: block;
  color: #999;
  font-style: italic;
  font-size: 14px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  position: relative;
  top: -8px;
}

#featured {
  margin-top: 100px;
}

#featured ul {
  padding: 0;
}

#featured ul:after {
  content: "";
  display: block;
  clear: both;
}

#featured li {
  float: left;
  width: 23%;
  margin: 1%;
  list-style-type: none;
}

#featured li img {
  width: 100%;
  margin-bottom: 10px;
}

#featured li a {
  color: #333;
  text-decoration: none;
  float: left;
}

#featured li span {
  float: right;
  color: #333;
}

footer {
  background: #3b3b3b;
  margin-top: 100px;
  margin: 10px;

}

footer:after {
  content: "";
  display: block;
  clear: both;
}

footer ul {
  float: left;
  padding: 0;
  list-style-type: none;
  color: #eee;
  width: 23%;
  margin-right: 2%;

}

footer li {
  margin: 10px 0;
}

footer a {
  color: #eee;
  text-decoration: none;
}


/* Background Images */

.slide:first-child {
  background: url('../assets/imagenes/burger-6.jpg') no-repeat center top/cover;
}

.slide:nth-child(2) {
  background: url('../assets/imagenes/burger-3.jpg') no-repeat center top/cover;
}

.slide:nth-child(3) {
  background: url('../assets/imagenes/burger-4.jpg') no-repeat center top/cover;
}

.slide:nth-child(4) {
  background: url('../assets/imagenes/burger-7.jpg') no-repeat center top/cover;
}

.slide:nth-child(5) {
  background: url('../assets/imagenes/image-2.jpg') no-repeat center top/cover;
}