*{
    font-weight:700;
    
}
.page_title {
    padding: 30px 0px;
}

.descripcion_producto{
    height: 8em;
}

.page_title h1 {
    color: #692c25;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 0;
    position: relative;
    text-transform: capitalize;
}

.page_title h1::before {
    background: #88524c;
    width: 70px;
    height: 2px;
    position: absolute;
    content: '';
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page_title h1::after {
    position: absolute;
    content: '';
    background: #fbc531;
    width: 30px;
    height: 2px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Menu starts*/
.menu_tab {
    margin: 0 auto;
    justify-content: center;
}

.nav-item {
    display: inline-block;
    text-align: center;
}

.nav-tabs .nav-link {
    transition: .3s;
}

.nav-tabs .nav-link.active {
    background: #c79d98;
    color: #fff;
    font-weight: 700;
    border: 1px solid #b88782;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-tabs .nav-link:hover {
    background: #c48c86;
    color: #fff;
    border: 1px solid #c2918b;
}

.single_menu {
    position: relative;
    margin-bottom: 75px;
    transition: .3s;
    width: 30em;
    margin-right: 40px;
}

.single_menu:hover img {
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);

}

.single_menu img {
    width: 33%;
    position: absolute;
    height: 140px;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transition: .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.menu_content {
    padding-left: 200px;
}

.menu_content h4 {
    font-size: 25px;
    font-weight: 300;
    border-bottom: 1px dashed #c0392b;
    line-height: 2;
    text-transform: capitalize;
}

.menu_content h4 span {
    font-size: 25px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #ffffff;
    margin-left: 20px;
}

.menu_content p {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
}

.menu_btn.btn.btn-danger {
    margin: 0 auto;
    display: block;
    width: 140px;
}

/*Menu ends*/
.menu_btn.btn.btn-danger {
    margin: 0 auto;
    display: block;
    width: 140px;
}

.btn.btn-danger {
    background: #4d110a;
    border: 1px solid #421b16;
    transition: .3s;
    position: relative;
    z-index: 1;
    text-transform: capitalize;
    font-weight: 700;
    overflow: hidden;
    padding: 15px 25px;
}

.btn.btn-danger::before {
    position: absolute;
    content: '';
    background: #300b06;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 100%;
    transition: .3s;
    z-index: -1;
}

.btn.btn-danger:hover:before {
    top: 0;
    left: 0;
}

.input-cartilla {
    width: max-content;

}

.imagen-cartilla {
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    display: initial;

}

.boton-añadir {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: var(--f7-badge-text-color);
    background: var(--f7-badge-bg-color);
    position: relative;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}

.button-1-cartilla {
    appearance: none;
    background-color: #1077d8;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 12px;
    font-weight: 900;
    line-height: 16px;
    padding: 10px 16px;
    margin: 10px;

}

.button-1-cartilla:hover {
    background-color: #1d689e;
}

.button-1-cartilla:focus {
    box-shadow: rgba(51, 114, 209, 0.4) 0 0 0 3px;
    outline: none;
}

.button-1-cartilla:disabled {
    background-color: #3b80b8;
    border-color: rgba(25, 102, 179, 0.1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-1-cartilla:active {
    background-color: #0a3d5c;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.icono-cartilla {
    width: 20px;
    height: 20px;
}

.div-botones{
    margin-left: 80px;
}