input {
  border:1px solid #ccc;
  box-shadow:inset rgb(56, 47, 47) 0 0 5px;
  cursor:pointer;font-style:italic;
  margin-left:45px;
  padding:7px;
  width:250px;
  margin-bottom:16px;}

.enviar {
  background:#d25959;
  box-shadow:none;
  color:white;
  margin-bottom:0;
  width:100px
}

.enviar:hover {
  text-decoration:underline
}

.confirmacion { 
  background:#C6FFD5;
  border:1px solid green;
   color: black;
}

.negacion { 
  background:#ffcccc;
  border:1px solid red;
  color: black;
}

.coincide { 
  background:#ffcccc;
  border:1px solid orange;
  color: black;
}

.longitud { 
  background:#ffcccc;
  border:1px solid yellow;
   color: black;
  
}
span {
    display:block;
    font-size:.8em;
    margin:0px 0 10px;
    padding:5px 0 5px 11px;
    width:200px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    opacity: 0.85; margin:auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('https://images.pexels.com/photos/2067431/pexels-photo-2067431.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: repeat;
    background-size: cover;

  }
  
  .form-register {
    width: 400px;
    height: auto;
    background: #4e4141;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    opacity: 0.85;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #4e575f;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #330606;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .buttons {
    width: 100%;
    background: #292527;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  
  .navigation_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navigation_slot {
    float: left;
  }
  
  .navigation_href {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }